body {
    font-family: 'Arial', sans-serif;
    margin: 5;
    padding: 10;
    background-color: rgba(47, 50, 255, 0.473);
}

header {
    background-color:rgb(6, 12, 12);
    color: #fff;
    text-align: center;
    padding: 20px;
}

section {
    margin: 20px;
}

.project {
    margin-bottom: 30px;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

form {
    max-width: 400px;
    margin: 20px auto;
}


